{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Tab icon and title -->
		<link
			rel="icon"
			type="image/png"
			href="{% static '/images/cp-logo.png' %}"
			class="tabIcon"
		/>
		<title>Dev Trends | News</title>

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>

		<!-- Bootstrap icons -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
		/>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="{% static '/css/index.css' %}" />
	</head>
	<body>
		<div class="actions">
			<div class="user-info">
				<p><i class="bi bi-person-circle"></i>{{ user.username }}</p>
			</div>

			<div class="buttons">
				<!-- Logout button, redirects the user to login page when clicked -->
				<form action="{% url 'user_auth:logout' %}" method="post">
					{% csrf_token %}
					<button type="submit" class="logout-button">Logout</button>
				</form>

				<!-- Dark mode button -->
				<button class="darkModeButton">
					<i class="bi bi-moon-fill"></i>
				</button>
			</div>
		</div>
		<div class="container">
			<h1>
				Development Trends & Articles
				<!-- Used the svg of the icon directly from bootstrap -->
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="50"
					height="50"
					fill="currentColor"
					class="bi bi-lightning-charge-fill"
					viewBox="0 0 16 16"
				>
					<path
						d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"
					/>
				</svg>
			</h1>

			<!-- Article sort dropdown -->
			<select onchange="selectOption()">
				<option value="thisMonth">Most popular this month</option>
				<option value="today">Most popular today</option>
				<option value="allTime">Most popular all time</option>
			</select>

			<div class="row" id="articlesContainer" style="margin-top: 20px">
				<!-- CARD WITH API CONTENT WILL BE INSERTED HERE -->
			</div>
		</div>

		<!-- Link to script -->
		<script src="{% static '/js/api.js' %}"></script>
</body>
</html>

<!-- References:
https://getbootstrap.com/docs/5.3/getting-started/introduction/
https://icons.getbootstrap.com/
-->
